:host{
	&::before{
		background: var(--primary);
		content: '';
		display: flex;
		height: 150px;
		margin-bottom: -65px;
		width: 100%;
	}

	header, aside {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	header img{
		border-radius: 50%;
		border: solid 5px var(--white);
		margin-bottom: 15px;
	}

	aside {
		p { text-align: center; }

		nav ul, 
		section {
			align-items: center;
			display: flex;
			gap: 30px;
			justify-content: center;
			width: 100%;
		}

		nav {
			margin: 20px 0;

			ul  li a { width: 250px; }
		}

		section {
			figure {
				align-items: center;
				border: solid 1px var(--white);
				border-radius: 7px;
				display: flex;
				height: 77px;
				gap: 20px;
				justify-content: center;
				margin: 0;
				padding: 0;
				width: 335px;
			}

			figcaption a {
				align-items: flex-start;
				display: flex;
				flex-direction: column;
				justify-content: center;

				p { margin: 3px 0}
				strong{ color: var(--primary); }
			}
		}
	}

	@media (max-width: 750px) {
		aside nav ul,
		section{
			flex-direction: column;
			gap: 15px;
		}

		aside nav li,
		aside nav li a,
		section figure { width: 100%; }
	}
}