:host {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 25px;

	h2 {
		margin: 0 0 25px 0;
		text-align: center;
	}
	
	details {
		background: var(--black-010);
		border-radius: 7px;
		margin-top: 10px;
		overflow: hidden;

		&[open]{
			summary {
				&::after{
					content: url("../../../../../assets/icons/chevron-up.svg");
					margin-top: 5px;
				}
				border-radius: 7px 7px 0 0;
			}
		}

		&:not([open]){
			summary {
				&::after{
					content: url("../../../../../assets/icons/chevron-down.svg");
					margin-top: 5px;
				}
				border-radius: 7px 7px 0 0;
			}
		}
	}

	article,
	summary {
		color: var(--gray);
		padding: 10px 20px;
		transition: 500ms ease-out;
	}

	summary {
		align-items: center;
		background: var(--primary);
		cursor: pointer;
		display: flex;
		justify-content: space-between;

		p {
			color: var(--black-010);
			display: flex;
			flex-direction: column;
			font-size: 14px;
			margin: 0;
			padding: 0;
		}
	}
}