:host {
	align-items: center;
	background: var(--black-010);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 25px;
	padding: 25px 0;

	h2 {
		margin: 0;
		text-align: center;
	}

	ul {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		justify-content: center;
		margin-top: 0;
	}

	li {
		align-items: center;
		background: var(--black);
		border-radius: 5px;
		display: flex;
		height: 50px;
		justify-content: center;
		width: 50px;
	}
}